
@media (max-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        font-family: Public Sans;
        /* height: 140vh; */
    }
    
    a {
        text-decoration: none;
        color: gray;
    }
    
    .container-header {
        display: flex;
        /* border: 1px solid; */
        height: 6rem;
        justify-content: space-around;
        align-items: center;
        background-color: white;
    }

    .header,
    .request-button {
        display: none;
    }

    #hamburger {
        background: none;
        border: none;
    }
    
    #mobilesphoto {
        /* border: 1px solid; */
        width: 100%;
        order: -1;
        clip-path: inset(8.4rem 0 0 0);
        margin-top: -8.4rem;
    }
    
    .showcase {
        display: flex;
        flex-direction: column;
        background-color: rgba(233, 230, 230, 0.326);
        background-image: url('./images/bg-intro-mobile.svg');
        background-position: 100% -70%;
        background-repeat: no-repeat;
        
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 2rem;
        /* height: 40rem; */
    }
    
    .text {
        padding-bottom: 3rem;
        font-size: 1.5rem;
    }
    
    #showcasepara {
        font-size: 0.85rem;
        color: rgb(163, 163, 163);
        padding-bottom: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
    #request {
        height: 2rem;
        padding: 0.5rem 1.6rem;
        padding-bottom: 1.8rem;
        border-radius: 7rem;
        border: none;
        /* flex-basis: 10rem; */
        color: white;
        font-weight: 800;
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    }
    
    .subShowcase {
        display: flex;
        background-color: rgba(240, 248, 255, 0.741);
        /* height: 40rem; */
    }
    
    .headingContainer {
        display: flex;
        flex-direction: column;
        /* margin-left:0; */
        margin-top: 4rem;
        font-size: 2rem;
        /* padding-right: 3rem; */
    }
    
    #subShowcaseParaTop {
        margin-top: 0;
        margin-bottom: 4rem;
        font-size: 1rem;
        color: rgb(163, 163, 163);
    }
    
    .subShowcaseContainer {
        padding: 1rem;
        color: rgb(163, 163, 163);
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        margin: 0;
        gap: 2rem;
    }
    
    #h {
        color: black;
    }
    
    #article-heading {
        padding-top: 6rem;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .articles {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        /* gap: 3.5rem; */
    }
    
    #articleimg {
        border-radius: 5% 5% 0 0;
        width: 100%;
        height: 17rem;
    }
    
    .article1 {
        border-radius: 5%;
        background-color: white;
        margin: 1rem;
        padding-bottom: 2rem;
    }
    
    .article2 {
        border-radius: 5%;
        background-color: white;
        margin: 1rem;
        padding-bottom: 1rem;
    }
    
    .article3 {
        border-radius: 5%;
        background-color: white;
        margin: 1rem;
        padding-bottom: 1rem;
    }
    
    .article4 {
        border-radius: 5%;
        background-color: white;
        margin: 1rem;
        padding-bottom: 1rem;
    }
    
    .articleslist {
        background-color: rgba(233, 230, 230, 0.326);
    }
    
    .article-text {
        display: flex;
        flex-direction: column;
        text-align: left;
        /* align-items: flex-start; */
        /* justify-content: flex-start; */
        gap: 1rem;
        padding: 2rem;
        color: rgb(163, 163, 163);
    }

    #h2 {
        font-size: 1.5rem;
        color: black;
    }

    footer {
        display: flex;
        flex-direction: column;
        background-color: rgba(17, 17, 49, 0.919);
        gap: 2rem;
        padding-bottom: 3rem;
    }
    
    .footercol1 {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    .footercol2 {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        gap: 1em;
        padding-bottom: 0.7em;
    }
    
    .closing-tag {
        margin: 2rem;
        margin-bottom: 0;
        padding: 4rem;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }
    
    .footerlogos {
        /* flex-basis: 12rem; */
        display: flex;
        scale: 1.3;
        justify-content: space-between;
    }
    
    .request-button3 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    #request3 {
        height: 2rem;
        padding: 0.5rem 1.6rem;
        padding-bottom: 1.8rem;
        border-radius: 7rem;
        border: none;
        margin: 0 4rem 0 4rem;
        /* flex-basis: 10rem; */
        color: white;
        font-weight: 800;
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    }
    
    .copyright {
        color: white;
    }
    
    #col1 {
        color: white;
    }
    
    #col2 {
        color: white;
    }
    .menu {
        display: none;
        position: fixed;
        padding-top: 10%;
        top: 5rem;
        left: 0rem;
        width: 100%;
        height: 80%;
        margin:0;
        background-color: rgba(0, 0, 0, 0.609);
    }
    
    .headermobile {
        border-radius: 10px;
        background-color: white;
        color: black;
        height: 20%;
        width: 90%;
        font-size: 100%;
        display: flex;
        margin-left: 1.3rem;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .headermobile a {
        color: black;
    }
    #headingbold{
        color: rgb(11, 11, 77);
    }
    #showcasepara{
        color: rgb(163, 163, 163);
    }
    #subShowcaseParaTop{
        color:rgb(163, 163, 163);
    }
    .subShowcaseContainer{
        color:rgb(163, 163, 163);
    }
    #h{
        color: rgb(11, 11, 77);
    }
    #article-heading{
        color: rgb(11, 11, 77);
    }
    .article-text{
        color: rgb(163, 163, 163);
    }
    #h2{
        color: rgb(11, 11, 77);
    }
}
@media (min-width:400px)
{
    body {
        justify-content: center;
        height: 180vh;
        margin: 0;
        font-family: Public Sans;
        overflow-x: hidden;
    }
    
    .container-header {
        display: flex;
        justify-content: space-around;
        height: 8rem;
        background-color: white;
        order: -1;
    }
    
    a {
        text-decoration: none;
        color: gray;
    }
    
    .header {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        align-items: center;
    }
    
    .request-button {
        display: flex;
        height: 100%;
        flex-grow: 2;
        justify-content: center;
        align-items: center;
    
    }
    
    #request {
        height: 2rem;
        padding: 0.5rem 1.6rem;
        padding-bottom: 1.8rem;
        border-radius: 7rem;
        border: none;
        color: white;
        font-weight: 800;
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    }
    
    .easybank {
        display: flex;
        flex-grow: 2;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
    
    }
    
    .showcase {
        display: flex;
        height: 50rem;
        padding-bottom: 0;
        margin-bottom: 0;
        background-color: rgba(233, 230, 230, 0.326);
        background-image: url('./images/bg-intro-desktop.svg'), url('./images/bg-top.svg');
        background-position: 145% 100%;
        background-repeat: no-repeat;
    }
    
    #mobilesphoto {
        scale: 1.4;
        flex-basis: 40rem;
        width: 20rem;
        height: 100%;
        clip-path: inset(7.15rem 0 0 0);
    }
    
    #headingbold {
        margin-left: 16.7rem;
        font-size: 4rem;
        width: 40rem;
    }
    
    #showcasepara {
        margin-left: 16.7rem;
        font-size: 1.2rem;
        width: 30rem;
    }
    
    .request-button2 {
        margin-top: 2rem;
        margin-left: 16.7rem;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-basis: 76rem;
    }
    
    .subShowcase {
        display: flex;
        background-color: rgba(240, 248, 255, 0.741);
        height: 50rem;
    }
    
    .empty {
        flex-basis: 20%;
    }
    
    .subShowcaseContainer {
        display: flex;
        gap: 4rem;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    
    .articleslist {
        display: flex;
        flex-direction: column;
        padding-top: 7.5rem;
        padding-left: 10rem;
        padding-right: 14rem;
        padding-bottom: 5rem;
        justify-content: center;
        align-content: center;
        height: 50rem;
        background-color: rgba(233, 230, 230, 0.326);
    }
    
    #article-heading {
        margin-bottom: 5rem;
        font-size: 3rem;
    }
    
    .footer {
        border: 2px solid;
    }
    
    .headingSubShowcase {
        flex-basis: 80%;
        padding-left: 16.5rem;
    }
    
    .headingContainer {
    
        margin-left: 0;
        margin-top: 11rem;
        font-size: 2rem;
        padding-right: 3rem;
    }
    
    .feature1 {
        width: 30%;
    }
    
    .feature2 {
        width: 30%;
    }
    
    .feature3 {
        width: 30%;
    }
    
    .feature4 {
        width: 30%;
    }
    
    .articles {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 2.5rem;
        justify-content: space-between;
        margin-bottom: 5.5rem;
    
    }
    
    .article1 {
        width: 30%;
        border-radius: 5%;
        background-color: white;
    }
    
    .article2 {
        width: 30%;
        border-radius: 5%;
        background-color: white;
    }
    
    .article3 {
        width: 30%;
        border-radius: 5%;
        background-color: white;
    }
    
    .article4 {
        width: 30%;
        border-radius: 5%;
        background-color: white;
    }
    
    #article-heading {
        margin-top: 2rem;
        margin-left: 5.5rem;
    }
    
    #articleimg {
        border-radius: 5% 5% 0 0;
        width: 100%;
        height: 17rem;
    }
    
    .empty-article {
        width: 4.5rem;
    }
    
    .article-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 8%;
    }
    
    #subShowcaseParaTop {
        font-size: 1.52rem;
        width: 55rem;
        padding-bottom: 5rem;
    }
    
    footer {
        display: flex;
        height: 30vh;
        justify-content: center;
        background-color: rgba(17, 17, 49, 0.919);
    }
    
    #footerlogotop {
        filter: invert(100%);
        margin-left: -5rem;
        margin-top: 3rem;
    }
    
    .closing-tag {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 3rem;
        flex-basis: 10rem;
        ;
    }
    
    .footerlogos {
        display: flex;
        gap: 1rem;
    }
    
    .footer {
        flex-basis: 50rem;
        display: flex;
        align-items: center;
        gap: 10rem;
        border: 0px solid;
    }
    
    .footercol1 {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin-left: 13rem;
        gap: 1.5rem;
    }
    
    .footercol2 {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        gap: 1.5rem;
    }
    
    .request-button3 {
        display: flex;
        height: 100%;
        flex-direction: column;
        flex-grow: 2;
        justify-content: center;
        align-items: end;
        gap: 2rem;
        margin-right: 3rem;
    
    }
    
    #request3 {
        height: 2rem;
        padding: 0.5rem 1.6rem;
        padding-bottom: 1.8rem;
        border-radius: 7rem;
        border: none;
        margin: 0 0rem 0 4rem;
        color: white;
        font-weight: 800;
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    }
    
    #col1 {
        color: white;
    }
    
    #col2 {
        color: white;
    }
    
    .copyright {
        color: white;
    }
    
    
    
    #hamburger {
        display: none;
    }
    #headingbold{
        color: rgb(11, 11, 77);
    }
    #showcasepara{
        color: rgb(163, 163, 163);
    }
    #subShowcaseParaTop{
        color:rgb(163, 163, 163);
    }
    .subShowcaseContainer{
        color:rgb(163, 163, 163);
    }
    #h{
        color: rgb(11, 11, 77);
    }
    #article-heading{
        color: rgb(11, 11, 77);
    }
    .article-text{
        color: rgb(163, 163, 163);
    }
    #h2{
        color: rgb(11, 11, 77);
    }
}